In [1]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
from sqlalchemy import text
import json
import matplotlib.pyplot as plt
import numpy as np

In [2]:
with open("creds.txt", "r") as credsfile:
    username = credsfile.readline().strip()
    password = credsfile.readline().strip()

In [3]:
db_url = f'postgresql://{username}:{password}@localhost:5432/moj'

engine = create_engine(db_url)

dbConnection = engine.connect();
query = text('SELECT * from posts where (post_month = 6) or (post_month = 7 and post_day<15)')

postsdf = pd.read_sql(query, dbConnection);

dbConnection.close();

In [4]:
len(postsdf)

3221

In [9]:
filename_mappings_df.columns

Index(['i', 'filename'], dtype='object')

In [12]:
filename_mappings_df = pd.read_csv("download_csvs/id_filename_mapping.csv")
frdf = pd.read_csv("C:/Users/archi/Downloads/all_fr.csv").merge(filename_mappings_df, on='filename').drop(columns=['Unnamed: 0.1', 'Unnamed: 0'])

In [19]:
collected_data = postsdf[postsdf.i.isin(frdf.i.apply(str))]

In [25]:
collected_data.post_date_string.value_counts().sort_index()

2023-06-01     7
2023-06-02     8
2023-06-03     4
2023-06-04     3
2023-06-05     5
2023-06-06     3
2023-06-07     7
2023-06-08     3
2023-06-09     7
2023-06-10     3
2023-06-11     4
2023-06-12     4
2023-06-13     3
2023-06-14     7
2023-06-15     7
2023-06-16     3
2023-06-17     7
2023-06-18     8
2023-06-19     5
2023-06-20     5
2023-06-21     4
2023-06-22     2
2023-06-23     6
2023-06-24     3
2023-06-25     5
2023-06-26     6
2023-06-27     2
2023-06-28     3
2023-06-29     6
2023-06-30    10
2023-07-01     6
2023-07-02     5
2023-07-03     3
2023-07-04     4
2023-07-05     5
2023-07-07    11
2023-07-08    12
2023-07-09     4
2023-07-10     5
2023-07-11     6
2023-07-12     7
2023-07-13     4
2023-07-14     4
Name: post_date_string, dtype: int64

In [28]:
remaining_files = postsdf[~postsdf.i.isin(frdf.i.apply(str))]
len(remaining_files)

2995

In [29]:
322-226

96

In [31]:
sample_i = remaining_files.sample(100).i

In [36]:
filename_mappings_df[filename_mappings_df.i.isin(sample_i.apply(int))].to_csv("fr_sample.csv")

### Analysis

In [7]:
df = pd.read_csv("download_csvs/10_percent_fr_output.csv").drop(columns=["Unnamed: 0.1", "Unnamed: 0"])
df

,filename,names,counts
0,Zm0ZD559mZCjx85k06XXFXygd7mE62udwPVR,['Unknown'],"{""modi"": 1}"
1,6P0OR443POT74XKY1x22TWkdRxBrgbujgPK8,['Unknown'],"{""gandhi"": 1}"
2,8rZK0YYLrKU4BdrywPEESGR1WY4PW1Sv4Z4P,['kejriwal'],"{""kejriwal"": 4}"
3,RV4L655WVLI9EjP0r2ppHd25Lo42AxIw22xk,['Unknown'],"{""kejriwal"": 4}"
4,E5Kygoop5yCo58QGE9LLTw3BR4LZGksxNk9e,['modi'],"{""modi"": 1}"
...,...,...,...
321,drive/MyDrive/Capstone/Videos/videos_5/bb947GG...,[],"{""modi"": 1, ""gandhi"": 1}"
322,drive/MyDrive/Capstone/Videos/videos_5/doeN733...,[],"{""yadav"": 5, ""owaisi"": 2}"
323,drive/MyDrive/Capstone/Videos/videos_5/WYmQD55...,[],"{""modi"": 1, ""gandhi"": 1}"
324,drive/MyDrive/Capstone/Videos/videos_2/WYmQD55...,[],"{""modi"": 1, ""gandhi"": 1}"
325,drive/MyDrive/Capstone/Videos/videos_2/Krvo655...,[],"{""modi"": 1, ""gandhi"": 1}"

In [10]:
len(df[df.names == '[]']) / len(df)

0.2607361963190184

### 25% have no face

In [12]:
for p in ['kejriwal', 'modi', 'owaisi', 'gandhi', 'yadav']:
    df[p] = df.names.apply(lambda x: (p in x))

In [22]:
df.modi.value_counts()

False    279
True      47
Name: modi, dtype: int64

In [20]:
((df.kejriwal == False) & (df.modi == False) & (df.owaisi == False) & (df.gandhi == False) & (df.yadav == False)).value_counts()

True     200
False    126
dtype: int64

In [21]:
((df.kejriwal == False) & (df.modi == True) & (df.owaisi == False) & (df.gandhi == False) & (df.yadav == False)).value_counts()

False    291
True      35
dtype: int64

In [24]:
126/326

0.38650306748466257

In [29]:
((df.kejriwal ) + (df.modi ) + (df.owaisi ) + df.gandhi + (df.yadav ))

0      False
1      False
2       True
3      False
4       True
       ...
321    False
322    False
323    False
324    False
325    False
Length: 326, dtype: bool